$margin-little:0;
$margin-little-1:3px;
$margin-little-2:5px;
$margin-medium:20px;
$margin-medium-1:25px;
$margin-medium-marginleft:20px;
$margin-medium-2:17px;
$margin-medium-3:22px;
$margin-medium-4:23px;
$margin-big:35px;
$margin-big-1:200px;
