//padding
$small-padding:0px;
$little-padding:5px;
$medium-padding:10px;
$big-padding:30px;
$big1-padding:47px;
$big-2-padding:15%;
$big-3-padding:100px;
// padding2
$padding-small-2:20px,0;
$padding-little-2:22px,0;
$padding-little-3:28px,0;
$padding-little-4:30px,0;
$padding-medium:40px,0;
$padding-medium-1:60px,0;
$padding-medium-2:70px,0;
$padding-medium-3:85px,0;
$padding-big-1:150px,0;
$padding-big-2:12px 40px;
$padding-big-3:12px 40px;
$padding-big-4:9px 22px;
$padding-big-5:50px 100px;
$padding-big-6:7px 32px;
//left,right,top
$padding-left-small:10px;
$padding-left-little:27px;
$padding-little-1:30px;
$padding-big:100px;
$padding-big-1:130px;
$padding-big-2:150px;
$padding-big-3:200px;
$padding-interest:10%;
$padding-interest-1:20%;