footer {
    background: #458ff8;
    padding: 85px 0;
    padding-left: 150px;
  }
  
  footer .footer-menu {
    padding-left: 150px;
  }
  
  footer .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  footer .footer-corrective {
    padding: 28px 0;
  }
  
  footer p {
    color: #fffeff;
  }
  
  footer h1 {
    color: #fffeff;
  }
  
  footer .footer-menu h3 {
    color: #fffeff;
  }
  
  footer .footer-menu .footer-p {
    padding: 20px 0;
  }
  
  footer .footer-menu .footer-p p {
    padding: 5px;
  }
  
  footer .footer-menu .footer-p p a {
    text-decoration: none;
    color: #fffeff;
  }